@import 'variables';

.formLink {
  display: flex;
  padding: 0%;
  margin: 0%;
  width: 100%;
}

.copyButton {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  background: $mainBlue;
  height: 50px;
  display: inline-block;
  border: none;
  border-radius: 0px 5px 5px 0px;
  -webkit-transition: box-shadow 0.5s, background-color 0.5s, -webkit-transform 0.5s;
  transition: box-shadow 0.5s, background-color 0.5s, transform 0.5s;
  &:hover {
    background-color: darken($mainBlue, 20%);
  }
}

.linkInput {
  border: none;
  border-radius: 0;
  padding: 5%;
  height: 50px;
  width: 100%;
  font-size: 1.2em;
  border-radius: 5px 0px 0px 5px;
}
